*.ipynb_checkpoints/
__pycache__/
.DS_Store  # (Si algún día usas Mac)

# Entornos virtuales de Python (en cualquier nivel del proyecto)
**/venv/
**/env/
**/.venv/
**/ENV/
**/virtualenv/
**/.virtualenv/
venv/
env/
.venv/
ENV/
virtualenv/
.virtualenv/
*.egg-info/
dist/
build/

# Datasets descargados
Downloaded datasets/
